{{title documentTitle}}

{{#unless noShopsAvailible}}
	{{#if isGeopositionResolved}}
		<div class="container">
		<div class="map-container">{{google-map markers=markers fitBounds=true}}</div>
		</div>
	{{/if}}
	<div class="container">
		{{#each limitedShops as |shop|}}
			{{shop-item model=shop}}
		{{/each}}
		{{#if hiddenShopsLength}}
			<div {{action 'showMoreShops'}} class="btn btn-primary">Zobrazit dalsi ({{hiddenShopsLength}} zbyva)</div>
		{{/if}}
	</div>
	{{else}}
	<div class="container">
		<h2>Zadne servisy pro tento vyber</h2>
	</div>
{{/unless}}
