.application {
	font-family: 'Open Sans';
	background: $dark-blue;
	color: white;
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	background: $dark-blue;
	// padding-bottom: $footer-height;
	margin-bottom: - $footer-height;	
	overflow: hidden;

	&:after {
		content: "";
		height: $footer-height * 2;
		display: block;
		width: 100%;
	}
}

.navbar-brand {
	padding: 15px 12px;
	img {
		width: 160px;
		margin: 5px 0px 0 22px;
	}
}

$navbar-height: 92px;


nav.navbar.navbar-default {
	height: $navbar-height;
	background: white;

	.navbar-header {
		height: $navbar-height;
	}

	ul.navbar-nav {
		li {
			a {
				height: $navbar-height - 1;
				font-size:14px;
				text-transform: uppercase;
				font-weight: 400;
				color: $grey;
				background: white;

				@media (min-width:768px){
					padding-top: 40px;
				}

				&:hover {
					background: $light-grey;
				}

				&.active {
					background: $light-grey;
					font-weight: 700;
				}

				&.contact {
					background: $light-blue;
					color: white;
					font-weight: 700;
					vertical-align: middle;
					padding-right: 30px;

					margin: -1px 0;
    				// outline: 1px solid #11ace3;
    				box-shadow: 1px 0px 0px #11ace3, 0px 1px 0px #11ace3;

					&::before {
						content: '';
						width: 33px;
						height: 31px;
						background: url('../images/icons/contact.png') 50% 50% no-repeat;
						display: inline-block;
						vertical-align: middle;
						margin: -5px 10px;

					}
				}

				&::after {
					height: 1px;
					margin-bottom: -1px;
					visibility: hidden;
					overflow: hidden;
					padding: 15px 0;
					font-size:14px;
					font-weight: 700;
					text-transform: uppercase;
					display: block;
					content: attr(title);
					color:transparent;
					min-width:100%;
				}
			}
		}
	}
	@media (max-width: 767px){
		.navbar-collapse {
			position: relative;
			z-index: 3;
			top: -6px;

			ul {
				margin-top: 0px;
				// border-top: 1px solid $grey;

				li {
					a {
						height: $navbar-height / 2;
						line-height: $navbar-height / 2;
						vertical-align: middle;
						padding-top: 0;
						padding-bottom: 0;

					}
					&:nth-child(odd) {
						a {
							background: mix(white, $grey, 95%);
						}
					}
				}
			}
		}
	}


}

footer {
	height: $footer-height;
	background: $darkest-blue;
	opacity: 0.48;
	color: #8d95b6;
	font-size: 10px;
	font-weight: 400;
	line-height: 17px;
	
	.credit {
		line-height: $footer-height;
	}

	.inner {
		vertical-align: middle;
		line-height: initial;
		display: inline-block;
	}
}
