{{title "MujVuz.cz"}}
<div class="page-wrap">
<nav class="navbar navbar-default">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        
        {{navbar-toggle currentPath=pathname}}
        {{#link-to "index" class="navbar-brand"}}
          <img src="./images/logo-small.png" alt="MujVuz.cz - logo">
        {{/link-to}}
  
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>{{link-to "Hlavni strana" "index" title='Hlavni strana'}}</li>
          <li>{{link-to "Jak služba funguje" "page" "jak-to-funguje" title='Jak sluzba funguje'}}</li>
          <li>{{link-to "O nas" "page" "O nas" title='O nas'}}</li>
          <li>{{link-to "Kontakt" "page" "Kontakt" title='Kontakt' class="contact"}}</li>
        
        </ul>
      </div><!-- /.navbar-collapse -->
  </nav>
  {{liquid-outlet use="crossFade" enableGrowth=false class="large"}}</div>

<footer>
      <div class="container">
      	<div class="row">
      	  <div class="col-sm-6">
      	    <div class="credit"><div class="inner">(c) 2015 Allrights reserved - Created by PXO.cz | Tomas Hlad</div></div>
      	  </div>
      	</div>
      </div>
</footer>