{{!-- {{#if model.ready}} --}}
	<div class="blurring dimmable image">
		<div class="ui dimmer">
			<div class="content">
				<div class="center">
					<div {{action (action onImageClick model.id)}} class="ui inverted button">Nastavit jako uvodni</div>
				</div>
			</div>
		</div>
		{{#if displayRibbon}}  
			<div class="ui green ribbon label">
				Uvodni
			</div>
		{{/if}}
		<img src="{{model.fullUrl}}" alt="shop image">
	</div>
{{!-- {{/if}} --}}
<div class="content">
	<div class="description">
		{{model.note}}
	</div>
</div>
<div class="extra content">
	<div {{action "delete"}} class="ui icon button"><i class="icon trash"></i></div>
</div>
