.select-picker {
	display: inline-block;

	button {
		min-width:160px;
	}
}

body {
	min-height:100%;
	height: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.ui.ribbon.label {
	z-index: 9000 !important;
}


.stranky {
	padding-top: 20px !important;
	clear:both;
}


.fixed.button {
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 2rem;
	padding: 1rem;
	z-index: 100;
}

.list {
	.header {
		display: inline-block !important;
	}
}

.inline-block {
	display: inline-block;
	vertical-align: top;
}

input[type=number] {
	max-width: 100px;
	text-align: center;
}

.tabular.menu {
	.item {
		span {
			@media (max-width:768px){
				display: none;
			}
		}
	}
}

.md-only {
	@media (max-width:768px){
				display: none;
	}
}

.akce {
	padding: 11px 14px;
    margin: 10px 0 15px;
    background: #fff;
    color: #272b36;
    border-radius: 3px;
    word-break: break-word;

    &.blue {
	    background: #11ace3;
	    text-align: center;
	    font-size: 18px;
	    text-transform: uppercase;
	    line-height: 31px;
	    color: #fff;

    	&.big {

    		max-width:260px;

    	}

    	&.average {
    		max-width:212px;
    	}

    	&.small {
			max-width:157px;
    	}
    }

    &.grey {
	    margin: 18px 0;
	    padding: 0 30px;
	    border-radius: 3px;
	    background-color: #e4e4e4;
	    opacity: .83;
	    color: #272b36;
	    font-size: 23px;
	    font-weight: 300;
	    height: 150px;
	    line-height: 150px;
	    vertical-align: middle;
	    text-align: center;

	    .inner {
	    	display: inline-block;
    		line-height: initial;
    		vertical-align: middle;
	    }

	    &.average {
	    	max-width:285px;
		}

	    &.big {
			max-width:350px;
	    }

	    &.small {
			max-width:212px;
	    }
    }
}