<div class="container">
	<h2>{{model.name}}</h2>
	<p>{{model.info}}</p>
	<div class="row">
		<div class="col-sm-6">
			<h3>Oteviraci doba:</h3>
			<div class="row">
				<div class="col-sm-6">Pondeli:</div>
				<div class="col-sm-6">{{model.mondayStart}} - {{model.mondayEnd}}</div>
				<div class="col-sm-6">Utery:</div>
				<div class="col-sm-6">{{model.tuesdayStart}} - {{model.tuesdayEnd}}</div>
				<div class="col-sm-6">Streda:</div>
				<div class="col-sm-6">{{model.wednesdayStart}} - {{model.wednesdayEnd}}</div>
				<div class="col-sm-6">Ctvrtek:</div>
				<div class="col-sm-6">{{model.thursdayStart}} - {{model.thursdayEnd}}</div>
				<div class="col-sm-6">Patek:</div>
				<div class="col-sm-6">{{model.fridayStart}} - {{model.fridayEnd}}</div>
				<div class="col-sm-6">Sobota:</div>
				<div class="col-sm-6">{{model.saturdayStart}} - {{model.saturdayEnd}}</div>
				<div class="col-sm-6">Nedele:</div>
				<div class="col-sm-6">{{model.sundayStart}} - {{model.sundayEnd}}</div>
			</div>
		</div>
		<div class="col-sm-6">
			<ul>
				<li><strong>Telefon:</strong> {{model.phone}}</li>
				<li><strong>Adresa:</strong> {{model.address}}</li>
				<li><strong>Web:</strong> {{model.url}}</li>
				<li><strong>E-mail:</strong> {{model.email}}</li>
			</ul>
			<div class="btn btn-primary">Objednat</div>
		</div>
	</div>
	{{google-map markers=marker fitBounds=true}}
	{{outlet}}
</div>