$red:#DB2828; 
& {
	width: 100%;
	height: 50px;
	position: relative;
	user-select:none;

	.marker {
		position: absolute;
		top: 60%;
		transform: translate(0,-50%);	
		color: $red;
		cursor: pointer;
	}

	.icon {
		font-size:2rem;
	}

	.line {
		width: 100%;
		height: 5px;
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0,-50%);	
		background: gray;
		border-radius: 5px;
	}
}