{{#pl-uploader resizeWidth="900" resizeHeight="400" for="upload-image" extensions="jpg jpeg png gif" onfileadd="uploadImage" as |queue dropzone|}}
  <div class="dropzone ui segment" id={{dropzone.id}}>
    {{#if dropzone.active}}
      {{#if dropzone.valid}}
        Presunte soubor sem pro nahrati
      {{else}}
        Nepltatny soubor
      {{/if}}
    {{else if queue.length}}
      {{!-- Uploading {{queue.length}} files. ({{queue.progress}}%) --}}
      {{#ui-progress class="indicating" percent=queue.progress}}
      	<div class="bar" style="transition-duration:300ms;"></div>
      	<div class="label">{{queue.progress}}%</div>
      {{/ui-progress}}
    {{else}}
      <h2 class="ui header"> <i class="icon upload"></i> <div class="content">Sprava obrazku</div></h2>
      <p>
        {{#if dropzone.enabled}}
          Pretahnete sem sobor nebo
        {{/if}}
        <a class="ui blue button" id="upload-image">kliknete zde</a>
      </p>
    {{/if}}
  </div>
{{/pl-uploader}}
<div class="ui three column stackable grid">
	{{#each model.images as |image|}}
		<div class="column">
			{{image-card model=image mainImageId=model.mainImageId onImageClick=(action 'setMainImage')}}
		</div>
	{{/each}}
</div>
