<div class="ui two column stackable grid">
	<div class="column">
		{{textarea value=model.announcement}}
	</div>
	<div class="column">
		<h3 class="ui header">Nahled:</h3>
		<div class="ui form">
			<div class="fields">
				<div class="field">{{ui-radio name="class" label="Modra" value="blue" current=color}}</div>
				<div class="field">{{ui-radio name="class" label="Seda" value="grey" current=color}}</div>
			</div>
			<div class="fields">
				<p>Velikost akce (responzivita)</p>
				<div class="field">{{ui-radio name="size" label="Velka" value="big" current=size}}</div>
				<div class="field">{{ui-radio name="size" label="Stredni" value="average" current=size}}</div>
				<div class="field">{{ui-radio name="size" label="Mala" value="small" current=size}}</div>
			</div>
		</div>
		<div class="akce {{color}} {{size}}">
			<div class="inner">{{nl-br model.announcement}}</div>
		</div>
	</div>
</div>
