<div class="ui container">
	<h2 class="ui header">
		<i class="icon car"></i>
		Vypis servisu
	</h2> 
	{{#link-to 'add' 'new' class="ui big right floated icon button"}}
		<i class="plus circle icon"></i>
		Pridat servis
	{{/link-to}}
</div>
	<div class="ui form inline-block">
		{{input value=ico action="filterShops" on="key-up" placeholder="Zadejte ICO"}}
	</div>
	{{#ui-dropdown value=selectedBrand class=dropdownClass onChange=(action 'filterShops')}}
	  <div class="default text">Vyberte znacku</div>
	  <i class="dropdown icon"></i>
	  <div class="menu">
	  {{#each brandChoices as |brand|}}
	    <div class="item" data-id="{{brand.value}}">
	      {{brand.label}}
	    </div>
	  {{/each}}
	  </div>
	{{/ui-dropdown}}&nbsp;
	{{#ui-dropdown value=selectedCity class=dropdownClass onChange=(action 'filterShops')}}
	  <div class="default text">Vyberte mesto</div>
	  <i class="dropdown icon"></i>
	  <div class="menu">
	  {{#each cityChoices as |city|}}
	    <div class="item" data-id="{{city.value}}">
	      {{city.label}}
	    </div>
	  {{/each}}
	  </div>
	{{/ui-dropdown}}
	<div class="ui divided items">
		{{#each filteredShops as |shop|}}
				{{list-item model=shop isServis="true"}}
			{{else}}
			<h2>Zadne servisy k vypisu</h2>
		{{/each}}
	</div>