.index {
	color: white;

	h1 {
		/* Text style for "pro Váš vůz" */
		// font-size: 56px;
		font-size:5.45rem;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		padding-top: 12vw;

		strong {
			font-weight: 600;
		}
	}

	.subtitle {
		// font-size: 32px;
		font-size:3.11rem;
		font-weight: 300;
		line-height: 58px;
		text-align: center;
		
		strong {
			font-weight: 600;
		}
	}

	.search-form {
		$picker-height: 65px;
		$picker-width: 360px;

		text-align: center;
		padding-top: 5vw;
		font-size: 16px;

		@media (min-width:768px){ 

			.btn {
				height: $picker-height;
				width: $picker-width;
				border-radius: 3px;
			}
		}

		.btn-primary {
			width: 160px;
			background: $light-blue;
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 700;
		}

		.select-picker {
			

			.pull-left {
				width: 100%;
				text-align: left;
				outline:none !important;
			}

			.caret {
				position: absolute;
				right: 10px;
				top: $picker-height / 2;
				
			}

			.dropdown-menu {
				background: $darkest-blue;

				a {
					color: white;
					background: $darkest-blue !important;
				}
			}

			@media (max-width:991px){
				display: block;
				width: $picker-width;
				max-width:100%;
				margin: 10px auto;
			}
		}
		// Native select

		select {
			margin: 0 0 10px 0;
		}
	}
}