{{title "Vyhledavac autoservisu v Praze, Ostrave a Brne"}}
<div class="index">
	<div class="container">

		<h1><strong>Vyhledavac servisu</strong> pro&nbsp;vas&nbsp;vuz</h1>
		<div class="subtitle">z vice jak <strong>3&nbsp;500&nbsp;servisu</strong></div>

		<div class="search-form">
			<form {{action "findShop" on="submit"}}>
				{{select-picker content=brandChoices
			                selection=chosenBrand
			                optionLabelPath="content.label"
			                optionValuePath="content.value"}}
				{{select-picker content=cityChoices
			                selection=chosenCity
			                optionLabelPath="content.label"
			                optionValuePath="content.value"}}
			    <input type="submit" value="Hledat" class="btn btn-primary">
			</form>
		</div>

	</div>
</div>
		{{outlet}}
