.image.slider {
	position: relative;
	overflow: hidden;
	z-index: 5;
	.arrow {
		position: absolute;
		height: $slider-height;
		line-height: $slider-height;
		vertical-align: middle;
		top: 0;
		background: none;
		transition: 0.2s background;
		z-index: 4;

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
			transform: scaleX(-1);
		}

		&:hover {
			// background: transparentize(grey, 0.8);
			// box-shadow: 0px 50px 0px 10px transparentize(grey, 0.8);
			background: -moz-linear-gradient(left, rgba(0,0,0,0.20) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, rgba(0,0,0,0.20) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			cursor: pointer;
		}
	}

	.slide {
		width: 100%;
		top: 0;
		left: 0;
		height: $slider-height;
		position: absolute;
		z-index: 1;
		// transform:translateX(0);
		// transition: 0.3s transform;
		background-size:cover;
		background-position: 50% 50%;

		opacity: 1;
		transition: 0.2s opacity;

		&.next,&.previous {
			visibility: hidden;
		}

		&.prepare {
			z-index: 2;
			visibility: visible !important;
			// opacity: 1 !important;
			// transition: none;
		}

		&.current {
			z-index: 3;
		}
	}

	&.right {
		.slide {
			// left:-100%;
			// transform:translateX(100%);
			// transition: 0s transform;
			opacity: 0;

		}
	}

	&.left {
		.slide {
			// right:-100%;
			// transform:translateX(-100%);
			// transition: 0s transform;
			opacity: 0;

		}
	}


}