{{#if previousImage}}
	<div {{action "slideLeft"}} class="arrow left"><img src="./images/arrow-slide.png" alt=""></div>
	<div class="slide previous {{if movingRight 'prepare'}}" style={{previousImage.style}}></div>
{{/if}}
<div class="slide current" style={{currentImage.style}}></div>
{{#if nextImage}}
	<div {{action "slideRight"}} class="arrow right"><img src="./images/arrow-slide.png" alt=""></div>
	<div class="slide next {{if movingLeft 'prepare'}}" style={{nextImage.style}}></div>
{{/if}}
