.shop-item {
	background: white;
	border-radius: 3px;
	margin: 12px 0;
	padding: 11px 12px;
	color: $grey;


	.header {
		background: $light-blue;
		padding: 17px 18px 14px 18px;
		border-radius: 3px;
		color: white;



		h2 {
			margin: 0;
			font-size:16px;
			font-weight: 700;
			display: inline-block;
		}

		.address {
			display: inline-block;
			font-size:12px;

		}

	}
	.image {
		background-size: cover;
		background-position: 50% 50%;
		border-radius:3px;
		overflow: hidden;
		width: 100%;
		height: 310px;
	}
	.prices {

		margin: 18px 0;
		padding: 10px 15px;

		border: 1px solid rgba(1, 1, 1, 0.1);
		border-radius: 5px;
		font-size:13px;

		ul {
			padding: 0;
			list-style-type: none;
		}

		li {
			text-align: justify;

			&:after {
				display: inline-block;
				content: "";
				width: 100%;
				height: 1px;
			}
		}

		.value,.label {
			display: inline-block;
			text-align: left;
		}

		.value {
			opacity: 0.7;
			color: #272b36;
			font-size: 13px;
			font-weight: 700;
		}

		img {
			display: inline-block;
			margin-right: 5px;
		}
	}

	.advertisement {

		margin: 18px 0;
		padding: 0 30px;

		border-radius: 3px;
		background-color: $lightest-grey;

				/* Base text style */
		
		opacity: 0.83;
		color: $darkest-blue;
		font-size: 23px;
		font-weight: 300;
		height: 150px;
		line-height: 150px;
		vertical-align: middle;
		text-align: center;
		word-break: break-word;

		.inner {
			display: inline-block;
			line-height: initial;
			vertical-align: middle;
		}
	}

	.contacts {
		text-align: justify;
		font-weight: 700;
		/* Text style for "+420 776 207 1" */
		color: $dark-grey;
		font-size: 13px;

		&:after {
			content: "";
			display: inline-block;
			width: 100%;
		}
	}

	.contact {
		display: inline-block;

		img {
			display: inline-block;
			margin: 0 2px;
			vertical-align: middle;
		}

	}

	.show-more {
		text-align: right;
	}

	.btn {
		font-size: 13px;
		background: $light-blue;
		font-weight: 700;
		color: white;
	}
}