<div class="clearfix"></div>
<div class="row">
	<div class="{{if hasImage 'col-sm-8' 'col-sm-12'}}">
		<div class="header">
			<h2>{{model.name}}</h2> | <div class="address">{{model.address}}</div>
		</div>
		<div class="row">
			<div class="{{if hasAnnouncement 'col-sm-6' 'col-sm-12'}}">
				<div class="prices">
					<ul>
						<li>
							<div class="label"><img src="./images/icons/mech.png" alt=""> Mechanické práce</div>
							<div class="value">{{model.minElectricPrice}} - {{model.maxElectricPrice}} CZK</div>
						</li>
						<li>
							<div class="label"><img src="./images/icons/electric.png" alt=""> Elektrikářské práce</div>
							<div class="value">{{model.minMechPrice}} - {{model.maxMechPrice}} CZK</div>
						</li>
						<li>
							<div class="label"><img src="./images/icons/klemp.png" alt=""> Klempířské práce</div>
							<div class="value">{{model.minKlempPrice}} - {{model.maxKlempPrice}} CZK</div>
						</li>
						<li>
							<div class="label"><img src="./images/icons/lak.png" alt=""> Lakýrnické práce</div>
							<div class="value">{{model.minLakPrice}} - {{model.maxLakPrice}} CZK</div>
						</li>
					</ul>					
				</div>
			</div>
			{{#if hasAnnouncement}}
			<div class="col-sm-6">
				<div class="advertisement">
					<div class="inner">
						{{nl-br model.announcement}}
					</div>
				</div>
			</div>
			  
			{{/if}}
		</div>
		<div class="row">
			<div class="col-sm-6 contacts">
				<div class="contact"><img src="./images/icons/phone.png" alt="">+420 {{model.phone}}</div>
				<div class="contact"><img src="./images/icons/mail.png" alt=""> {{model.email}}</div>
			</div>
			<div class="col-sm-6 show-more">
				{{!-- <button class="btn" >zobrazit více</button> --}}
				{{link-to 'zobrazit více' 'shop' model class="btn"}}
			</div>
		</div>
	</div>
	{{#if hasImage}}
	<div class="col-sm-4">
		<div style="background-image:url('{{model.mainImage.fullUrl}}')" class="image">
		</div>
		<p>
			{{#if model.marker.distance}}
			{{!-- <p>Distance: {{model.marker.distance}} km</p> --}}
			{{/if}}
		</p>
	</div>
	{{/if}}
</div>
