<div class="container">
	<h2 class="ui header">
		<i class="file text outline icon"></i>
		<div class="content">Vypis stranek</div>
	</h2>
	<div {{action "addPage"}} class="ui big right floated icon {{if isLoading 'loading'}} button">
		<i class="icon circle plus"></i>
		Pridat stranku
	</div>
</div>
<div class="ui container">
	<div class="ui middle aligned divided list stranky">
	{{#each model as |page|}}
		<div class="item">
			<div class="right floated content">
	
				{{#link-to 'pages.detail' page.id }}
					<div class="ui {{if page.hasDirtyAttributes "red"}}  icon button">
						<i class=" icon edit"></i>
					</div>
				{{/link-to}}
				
				<div {{action "deletePage" page}} class="ui icon button"><i class="icon trash"></i></div>
			</div>
			<img src="http://placehold.it/30x30" alt="" class="ui avatar image">
			<div class="content">
				<strong class="ui {{if page.hasDirtyAttributes "red"}} header">
				{{if page.subject page.subject "-Stranka bez nadpisu-"}}
				</strong> <br>
			</div>
		</div> 
		{{else}}
		<h2>Zadne stranky</h2>
	{{/each}}
	</div>
</div>
{{outlet}}
