<div class="field">
	<label>Jmeno servisu</label>
	{{input value=model.name class="big"}}
</div>
<div class="field">
	<label>Popis servisu</label>
	{{textarea value=model.info}}
</div>
<div class="ui divider"></div>
<div class="ui two column grid">
	<div class="column">
		{{#ui-dropdown value=model.brand class="selection" onChange=(action 'selectBrand')}}
		  <div class="default text">Vyberte znacku</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		  {{#each brandChoices as |brand|}}
		    <div class="item" data-id="{{brand.value}}">
		      {{brand.label}}
		    </div>
		  {{/each}}
		  </div>
		{{/ui-dropdown}}
	</div>
	<div class="column">
		{{#ui-dropdown value=model.city class="selection" onChange=(action 'selectCity')}}
		  <div class="default text">Vyberte mesto</div>
		  <i class="dropdown icon"></i>
		  <div class="menu">
		  {{#each cityChoices as |city|}}
		    <div class="item" data-id="{{city.value}}">
		      {{city.label}}
		    </div>
		  {{/each}}
		  </div>
		{{/ui-dropdown}}
	</div>
</div>
<div class="ui two column stackable grid">
	<div class="column">
		<div class="field">
			<label>Mechanicke prace</label>
			{{input type="number" value=model.minMechPrice step="50"}} - {{input type="number" value=model.maxMechPrice step="50"}}  CZK
		</div>
		<div class="field">
			<label>Elektricke prace</label>
			{{input type="number" value=model.minElectricPrice step="50"}} - {{input type="number" value=model.maxElectricPrice step="50"}} CZK
		</div>
		<div class="field">
			<label>Klempirske prace</label>
			{{input type="number" value=model.minKlempPrice step="50"}} - {{input type="number" value=model.maxKlempPrice step="50"}} CZK
		</div>
		<div class="field">
			<label>Lakyrnicke prace</label>
			{{input type="number" value=model.minLakPrice step="50"}} - {{input type="number" value=model.maxLakPrice step="50"}} CZK
		</div>
		<div class="field">
			<label>Pondeli</label>				
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "monday") day="monday" initFromValue=model.mondayStart initToValue=model.mondayEnd}}
			<label>Utery</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "tuesday") day="tuesday" initFromValue=model.tuesdayStart initToValue=model.tuesdayEnd}}
			<label>Streda</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "wednesday") initFromValue=model.wednesdayStart initToValue=model.wednesdayEnd}}
			<label>Ctvrtek</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "thursday") initFromValue=model.thursdayStart initToValue=model.thursdayEnd}}
			<label>Patek</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "friday") initFromValue=model.fridayStart initToValue=model.fridayEnd}}
			<label>Sobota</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "saturday") initFromValue=model.saturdayStart initToValue=model.saturdayEnd}}
			<label>Nedele</label>
			{{timerange-picker class="time-range-picker" afterDrag=(action "updateOpeningHours" "sunday") initFromValue=model.sundayStart initToValue=model.sundayEnd}}
		</div>
	</div>
	<div class="column">
		<div class="field"><label>Web:</label> {{input value=model.url}}</div> 
		<div class="field"><label>Email:</label> {{input value=model.email}} </div>
		<div class="field"><label>Telefon:</label> {{input value=model.phone}} </div>
		<h3 class="ui header">
			<i class="icon settings"></i>
			<div class="content">Interni data</div>
		</h3>
		<div class="field">
			<label>Spolecnost</label>
			{{select-2
				content=companies
				value=model.company
				optionLabelPath="ico"
				optionDescriptionPath="name"
				placeholder="Vybrat spolecnost podle ICO"
			}}
		</div>
		<div class="field">
			<label>Systemovy (kontaktni) email:</label>
			{{input value=model.extra.email}}
		</div>
		<div class="field">
			<label>Poznamka:</label>
			{{textarea value=model.extra.note}}
		</div>
	</div>
</div>
		