Dobry den, <br>
<p>Na serveru mujvuz.cz byl vyplnen formular u vaseho servisu <strong><%= shop %></strong>. Zde je preposlana zprava:</p>

<strong><%= senderName %></strong> <br>
<strong>email: </strong> <%= senderEmail %> <br>
<strong>tel.: </strong> <%= phone %> <br>
<p><%= note %></p>