<form {{action "addShop" on="submit"}} class="ui form">
{{isTransitioning}}
	<div class="container">
		<h2 class="ui header">
			<i class="icon car"></i>
			<div class="content">{{if model.name model.name '-BEZEJMENA-'}}</div>
		</h2>
		<div class="ui divider"></div>
		<div class="ui large buttons">
		  <button {{action 'setVisibility' 'true'}} class="ui {{if model.isVisible 'green'}} icon button"><i class="unhide icon"></i></button>
		  <button {{action 'setVisibility' 'false'}} class="ui {{if model.isVisible '' 'red'}} icon button"><i class="hide icon"></i></button>
		</div>
		<div class="ui top attached tabular menu">
			{{#link-to 'add.index' class="item"}}<i class="icon info circle"></i> <span>Informace</span> {{/link-to}}
			{{#link-to  'add.images' class="item"}} <i class="icon file image outline"></i> <span>Obrazky</span> {{/link-to}}
			{{#link-to  'add.location' class="item"}} <i class="icon marker"></i> <span>Poloha</span> {{/link-to}}
			{{#link-to  'add.action' class="item"}} <i class="icon announcement"></i> <span>Akce</span> {{/link-to}}
		</div>
		<div class="ui bottom attached active tab segment">		
			{{outlet}}
		</div>
	</div>
<input type="submit" value="Ulozit" class="ui submit fixed {{if model.hasDirtyAttributes 'red' 'green'}} button">
</form>
