/* Style for "footer" */
width: 1624px;
height: 92px;

/* Style for "twitter" */
width: 33px;
height: 33px;

/* Style for "linkedin1" */
width: 33px;
height: 33px;
background-color: #11ace3;

/* Style for "facebook2" */
width: 33px;
height: 33px;

/* Text style for "(c) 2015 Allri" */
width: 280px;
height: 10px;
opacity: 0.48;
color: #8d95b6;
font-family: OpenSans;
font-size: 10px;
font-weight: 400;
line-height: 17px;

/* Style for "Obdélník 7" */
width: 1600px;
height: 74px;
opacity: 0.5;
background-color: #272b36;

/* Text style for "objednat" */
width: 72px;
height: 13px;
color: white;
font-family: OpenSans;
font-size: 14px;
font-weight: 700;
line-height: 48px;
text-transform: uppercase;

/* Style for "Zaoblený obdél" */
width: 370px;
height: 54px;
background-color: #11ace3;
border-radius: 3px;

/* Style for "star40-2 kopie" */
width: 18px;
height: 18px;
background-color: #c9c9c9;

/* Style for "star40-2 kopie" */
width: 18px;
height: 18px;
background-color: #ffd200;

/* Style for "star40-2 kopie" */
width: 18px;
height: 18px;
background-color: #ffd200;

/* Style for "star40-2 kopie" */
width: 18px;
height: 18px;
background-color: #ffd200;

/* Style for "star40-2" */
width: 18px;
height: 18px;
background-color: #ffd200;

/* Text style for "ohodnoť" */
width: 51px;
height: 9px;
color: #11ace3;
font-family: OpenSans;
font-size: 12px;
font-weight: 700;
line-height: 48px;

/* Base text style */
width: 182px;
height: 155px;
font-family: OpenSans;
font-size: 14px;
font-weight: 700;
line-height: 48px;

/* Text style for "+420 776 207 1" */
color: #272b36;

/* Text style for "www.autoservis" */
color: #11ace3;

/* Text style for "Telefon:
Adres" */
width: 52px;
height: 155px;
opacity: 0.8;
color: #272b36;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 48px;

/* Style for "pin56 kopie 3" */
width: 55px;
height: 83px;
background-color: #11ace3;

/* Style for "Obdélník 11" */
width: 3px;
height: 202px;
background-color: white;

/* Style for "Obdélník 10 ko" */
width: 399px;
height: 43px;
background-color: #f2f2f2;

/* Style for "Obdélník 10 ko" */
width: 399px;
height: 43px;
background-color: #f2f2f2;

/* Style for "Obdélník 10" */
width: 399px;
height: 43px;
background-color: #f2f2f2;

/* Style for "Zaoblený obdél" */
width: 399px;
height: 296px;
background-color: white;
border-radius: 5px;

/* Style for "Tvar 1 kopie 2" */
width: 14px;
height: 58px;
box-shadow: 0 0 15.8px 5.3px rgba(1, 1, 1, 0.38);

/* Style for "Tvar 1 kopie" */
width: 14px;
height: 58px;
box-shadow: 0 0 15.8px 5.3px rgba(1, 1, 1, 0.38);

/* Style for "Vrstva 3" */
width: 535px;
height: 296px;

/* Style for "Zaoblený obdél" */
width: 535px;
height: 296px;
background-color: #272b36;
border-radius: 5px;

/* Text style for "10:00 - 20:00" */
width: 82px;
height: 135px;
opacity: 0.7;
color: #272b36;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 21px;

/* Base text style */
width: 115px;
height: 164px;
opacity: 0.7;
color: #272b36;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 21px;

/* Text style for "Otevírací doba" */
text-transform: uppercase;

/* Text style for "Pondělí:
Úterý" */

/* Text style for "Lorem Ipsum je" */
width: 925px;
height: 57px;
opacity: 0.7;
color: #272b36;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 21px;

/* Style for "Vrstva 8" */
width: 692px;
height: 312px;

/* Style for "Snímek obrazo" */
width: 692px;
height: 312px;

/* Style for "Zaoblený obdél" */
width: 692px;
height: 312px;
background-color: white;
border-radius: 5px;

/* Text style for "DNES SLEVA NA" */
width: 178px;
height: 45px;
color: white;
font-family: OpenSans;
font-size: 18px;
font-weight: 400;
line-height: 31px;

/* Style for "Zaoblený obdél" */
width: 242px;
height: 99px;
background-color: #11ace3;
border-radius: 5px;

/* Style for "Zaoblený obdél" */
width: 242px;
height: 201px;
background-color: white;
border-radius: 5px;

/* Style for "Zaoblený obdél" */
width: 960px;
height: 95px;
background-color: white;
border-radius: 5px;

/* Text style for "Autoservis Bou" */
width: 204px;
height: 17px;
color: white;
font-family: OpenSans;
font-size: 22px;
font-weight: 700;
line-height: 17px;

/* Style for "vyhledavač" */
width: 0;
height: 0;

/* Style for "vyhledávač" */
width: 923px;
height: 175px;

/* Base text style */
width: 169px;
height: 57px;
font-family: OpenSans;
font-size: 14px;
font-weight: 400;
line-height: 23px;

/* Text style for "Praha, Wericho" */
color: white;

/* Text style for "Praha, Voskovc" */
color: #9e9e9e;

/* Style for "Obdélník 6" */
width: 326px;
height: 92px;
background-color: #272b36;

/* Text style for "Nerozhoduje" */
width: 95px;
height: 17px;
color: #4b4b4b;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 15px;

/* Text style for "Hledat v okolí" */
width: 104px;
height: 13px;
opacity: 0.6;
color: #4b4b4b;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 15px;

/* Text style for "hledat" */
width: 51px;
height: 13px;
color: white;
font-family: OpenSans;
font-size: 16px;
font-weight: 700;
line-height: 15px;

/* Style for "Zaoblený obdél" */
width: 168px;
height: 65px;
background-color: #11ace3;
border-radius: 3px;

/* Style for "Zaoblený obdél" */
width: 437px;
height: 65px;
background-color: white;
border-radius: 3px;

/* Style for "Obdélník 5" */
width: 8px;
height: 4px;
opacity: 0.49;
background-color: #4b4b4b;

/* Style for "Obdélník 4" */
width: 1px;
height: 58px;
opacity: 0.14;
background-color: #4b4b4b;

/* Text style for "Nerozhoduje" */
width: 95px;
height: 17px;
color: #4b4b4b;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 15px;

/* Text style for "Značka:" */
width: 56px;
height: 13px;
opacity: 0.6;
color: #4b4b4b;
font-family: OpenSans;
font-size: 16px;
font-weight: 400;
line-height: 15px;

/* Style for "Zaoblený obdél" */
width: 265px;
height: 65px;
background-color: white;
border-radius: 3px;

/* Style for "Zaoblený obdél" */
width: 923px;
height: 103px;
opacity: 0.5;
background-color: #343844;
border-radius: 3px;

/* Base text style */
width: 953px;
height: 122px;
color: white;
font-family: OpenSans;

/* Text style for "Vyhledávač ser" */
font-size: 56px;
font-weight: 700;
text-transform: uppercase;

/* Text style for "pro Váš vůz" */
font-size: 56px;
font-weight: 300;
text-transform: uppercase;

/* Text style for "z více jak" */
font-size: 32px;
font-weight: 300;
line-height: 58px;

/* Text style for "3 500 servisů" */
font-size: 32px;
font-weight: 700;
line-height: 58px;

/* Style for "bg" */
width: 1638px;
height: 897px;

/* Style for "Vrstva 6" */
width: 1600px;
height: 897px;

/* Style for "bmw-768688" */
width: 1600px;
height: 896px;

/* Style for "Obdélník 1" */
width: 1600px;
height: 897px;
background-color: #333640;

/* Style for "menu" */
width: 1574px;
height: 144px;