$grey: #4b4b4b;
$light-grey: #F6F6F6;
$lightest-grey: #e4e4e4;

$dark-grey: #7d8789;

$dark-blue: #333640;
$darkest-blue: #272b36;
$light-blue:#11ace3;

$slider-height: 248px;



$footer-height: 75px;