
<div class="field"><label>Adresa:</label> {{input value=model.address}} </div>

<button {{action "getCoordinates"}} class="ui blue {{unless canGetCoordinates 'disabled'}} button">Ziskat souradnice</button>
<p></p>
<div class="ui two column stackable grid">
	<div class="column">
		<div class="field">
			<label>Latitude</label>
			{{input value=model.marker.latitude}}
		</div>
	</div>
	<div class="column">
		<div class="field">
			<label>Longitude</label>
			{{input value=model.marker.longitude}}
		</div>
	</div>
</div>
<div class="ui divider"></div>
{{#if canGetCoordinates}}
	{{google-map markers=marker fitBounds=true}}
{{/if}}
