{{#if session.isAuthenticated}}
<nav class="ui top fixed menu">
	<div class="item">
		<i class="settings icon"></i>
		<span class="md-only">mujvuz.cz - administrace</span>
	</div>
	{{#link-to 'index' class="item"}} 
		<i class="car icon"></i>
		<span class="md-only">Servisy</span>
	{{/link-to}}
	{{#link-to 'pages' class="item"}}
		<i class="file text outline icon"></i>
	 	<span class="md-only">Stranky</span>
	 {{/link-to}}
	{{#link-to 'company' class="item"}}
		<i class="building icon"></i>
	 	<span class="md-only">Spolecnosti</span>
	 {{/link-to}}
</nav>
<div class="ui container">{{outlet}}</div>
{{else}}
	<div class="ui container">
		<h1>MujVuz.cz Adminstrace</h1>
		<form {{action "login" on="submit"}} class="ui {{if loading 'loading'}} form">
			<div class="field">
				<label>Email</label>
				{{input value=email}}
			</div>
			<div class="field">
				<label>Heslo</label>
				{{input value=password type="password"}}
			</div>
			<input type="submit" value="prihlasit" class="ui green button">
		</form>
	</div>
{{/if}}
