<div class="image">
	<img src="{{model.mainImage.fullUrl}}" alt="">
</div>
<div class="content">
	<div class="ui {{if model.hasDirtyAttributes "red"}} header">
	{{if model.name model.name "-NOVY-"}} <i class="icon {{if model.isVisible 'unhide' 'hide'}}"></i>
	</div>
		<div class="meta">{{model.address}}</div>
	<div class="description">
		<strong>ICO:</strong> {{model.company.ico}} | {{model.extra.note}} <br>
		<p>{{if isServis model.description model.note}}</p>
	</div>
	<div class="extra">
		<div class="ui right floated content">
			{{#link-to "add" model.id }}
				<div class="ui {{if model.hasDirtyAttributes "red"}}  icon button">
					<i class=" icon edit"></i>
				</div>
			{{/link-to}}
			<div {{action "delete" model}} class="ui icon button"><i class="icon trash"></i></div>
		</div>
	</div>
</div>
