.shop {
	h2 {
		font-size: 22px;
		font-weight: 700;
	}

	.box {
		padding: 11px 14px;
		margin: 10px 0 15px 0;
		background: white;
		color: $darkest-blue;
		border-radius: 3px;

		&.contact {
			padding: 0;

			.btn-wrap {

				padding: 11px 14px;
			}

			.btn {
				background: $light-blue;
				border-radius: 3px;
				width: 100%;
				text-align: center;
				font-size:14px;
				font-weight: 700;
				line-height: 40px;
				vertical-align: middle;
				color: white;
				text-transform: uppercase;
			}
		}

		&.description,&.opening-hours {
			color: transparentize($darkest-blue, 0.3);
		}

		&.opening-hours {
			h3 {
				text-transform: uppercase;
				font-size: 14px;
			}

			.col-xs-6 {
				@media (min-width:768px) and (max-width:1199px){
					float:none;
					width: 100%;
					.day {
						font-weight: 600;
					}
				}
			}
		}

		&.blue {
			background: $light-blue;
			text-align: center;
			font-size: 18px;
			text-transform: uppercase;
			line-height: 31px;
			color: white;
			word-break: break-word;
		}

		&.image {
			text-align: center;
			background-size:cover;
			background-position: 50% 50%;
			height:$slider-height;


			// img {
			// 	max-height:226px;
			// }
		}

	}

	.label,.value {
		height: 43px;
		line-height: 43px;
		vertical-align: middle;
		display: inline-block;
	}

	.label {
		width: 98px;
	}

	.value {
		text-align: center;
		width: calc(100% - 98px);
		font-weight: 700;
	}

	.item {

		padding: 0px 14px;
		position: relative;
		top: 1px;

		&:nth-child(odd){
			background-color: #f2f2f2;
		}
	}

	.detail-map {
		height: 207px + 81px + 15px;
		margin-top: 10px;

		@media (max-width:1199px){
			height: 476px;
		}

		@media (max-width:991px) and (min-width:768px){
			height: 508px;
		}
	}
}