<div class="shop">
	{{title model.name}}
	<div class="container">
		<h2>{{model.name}}</h2>
		<div class="row">
			<div class="{{if hasImage 'col-sm-5' 'col-sm-12'}}">
				<div class="contact box">
					<div class="item">
						<div class="label">Telefon:</div><div class="value">{{model.phone}}</div>
					</div>
					<div class="item">
						<div class="label">Adresa:</div><div class="value">{{model.address}}</div>
					</div>
					<div class="item">
						<div class="label">Web:</div><div class="value">{{model.url}}</div>
					</div>
					<div class="item">
						<div class="label">E-mail:</div><div class="value"><a href="mailto:{{model.email}}">{{model.email}}</a></div>
					</div>
					<div class="btn-wrap">{{link-to 'Objednat' 'shop.order' class="btn"}}</div>
				</div>
			</div>
			{{#if hasImage}}
			<div class="col-sm-7">
				{{image-slider images=model.images mainImage=model.mainImage}}
			</div>
			{{/if}}
		</div>
		<div class="box description">
			{{model.info}}
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="box opening-hours">
					<h3>Oteviraci doba:</h3>
					<div class="row">
						<div class="col-xs-6"><div class="day">Pondeli:</div></div>
						<div class="col-xs-6">{{model.mondayStart}} - {{model.mondayEnd}}</div>
						<div class="col-xs-6"><div class="day">Utery:</div></div>
						<div class="col-xs-6">{{model.tuesdayStart}} - {{model.tuesdayEnd}}</div>
						<div class="col-xs-6"><div class="day">Streda:</div></div>
						<div class="col-xs-6">{{model.wednesdayStart}} - {{model.wednesdayEnd}}</div>
						<div class="col-xs-6"><div class="day">Ctvrtek:</div></div>
						<div class="col-xs-6">{{model.thursdayStart}} - {{model.thursdayEnd}}</div>
						<div class="col-xs-6"><div class="day">Patek:</div></div>
						<div class="col-xs-6">{{model.fridayStart}} - {{model.fridayEnd}}</div>
						<div class="col-xs-6"><div class="day">Sobota:</div></div>
						<div class="col-xs-6">{{model.saturdayStart}} - {{model.saturdayEnd}}</div>
						<div class="col-xs-6"><div class="day">Nedele:</div></div>
						<div class="col-xs-6">{{model.sundayStart}} - {{model.sundayEnd}}</div>
					</div>
				</div>
				<div class="blue box">
					{{nl-br model.announcement}}
				</div>
			</div>
			<div class="col-sm-9">
				{{google-map markers=marker fitBounds=true classNames="detail-map"}}
				{{!-- <div class="btn btn-primary">Objednat</div> --}}
			</div>
		</div>
		{{outlet}}
	</div>
</div>