<div class="ui two column stackable grid">
	<div class="column">
		<div class="ui form">
			<div class="field">
				<label>Nadpis</label>
				{{input value=model.subject}}
			</div>
			<div class="field">
				<label>Obsah</label>
				{{textarea value=model.html}}
			</div>
			<div {{action "save"}} class="ui big {{if model.hasDirtyAttributes 'red'}} button">Ulozit</div>

		</div>
	</div>
	<div class="column">
		<h2>{{model.subject}}</h2>
		<div class="ui segment">
			{{{model.html}}}
			{{!-- {{content-editable value=model.html}} --}}
		</div>
	</div>
</div>
