@keyframes slideIn {
	0% {opacity: 0;transform: translate(0%,-10%)}
	100% {opacity: 1;transform: translate(0,0)}
}

@keyframes fadeIn {
	0%{opacity: 0;}
	100%{opacity: 1;}
}

.order-modal {
	border-radius: 5px;
	width: 785px;
	max-width: 95vw;
	font-family: 'Open Sans';
	padding: 60px 30px;
	background: white;
	opacity: 0;
	transform: translate(-10%,-10%);
	animation: 0.6s slideIn forwards; 

	h3 {			/* Text style for "Ozveme se Vám" */
		opacity: 0.7;
		color: #16181e;
		font-size: 22px;
		font-weight: 300;
		text-transform: uppercase;

	}

	.form-control {
		margin-bottom: 10px;
		padding: 20px 10px;

		&::-webkit-input-placeholder {
			opacity: 0.7;
			color: #16181e !important;
			font-size: 14px;
			font-weight: 300;
		}
	}

	.btn {
		display: block;
		margin: 0 auto;
		width: 215px;
		line-height: 51px;
		font-size: 14px;
		font-weight: 300;
		padding: 0;
		background: $light-blue;
		text-transform: uppercase;
		border: 0;
		margin-top: 23px;
	}

	.closer {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 14px;
		position: absolute;
		right: 15px;
		top: 5px;

		.span,.x {
			display: inline-block;
			vertical-align: middle;
		}
	}

	a {
		opacity: 0.48;	
		color: #4f361f !important;
		text-decoration: none !important;

	}

	.x {
		font-size: 38px;
		font-weight: 400;
		position: relative;
		bottom: 4px;
	}

	.alert {
		animation: 0.2s fadeIn forwards;
	}
}

.ember-modal-overlay {
	background-color: transparentize(#14161b,0.1);
}

::-webkit-input-placeholder {
			opacity: 0.9 !important;
			color: #16181e !important;
			font-size: 14px !important;
			font-weight: 300 !important;
			// color: transparent !important;
		}