{{#modal-dialog translucentOverlay=true containerClassNames="order-modal"}}
	<div class="closer">{{#link-to 'shop'}}<span>zavřít</span> <div class="x">&times;</div>{{/link-to}}</div>
	{{#if emailSent}}
		<div class="alert alert-success">
			<p>Dekujeme za zpravu.</p>
		</div>
	{{/if}}
	{{#if emailError}}
		<div class="alert alert-danger">
			<p>Pri odesilani emailu doslo k chybe. Prosim kontaktujte nas na adrese: malindacz@gmail.com</p>
		</div>
	{{/if}}
	<form class="{{if isLoading 'au-loading'}}" {{action "sendOrder" on="submit"}}>
		<h3>Ozveme se vam zpet</h3>
		<div class="row">
			<div class="col-sm-6">
				{{input value=mailData.name placeholder="jmeno" class="form-control"}}
			</div>
			<div class="col-sm-6">
				{{input value=mailData.phone placeholder="telefon" class="form-control"}}
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				{{input value=mailData.email placeholder="e-mail" class="form-control"}}
			</div>
			<div class="col-sm-6">
				{{input value=mailData.note placeholder="poznamka" class="form-control"}}
			</div>
		</div>
		<input type="submit" value="Odeslat" class="btn btn-primary">
	</form>
{{/modal-dialog}}
{{outlet}}
