<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MujVuz.cz</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for 'head'}}

    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/ember-firestarter.css">

    {{content-for 'head-footer'}}
  </head>
  <body class="au-loading">
    <style>
      @keyframes form-spin {
      from {
        transform: rotate(0);
      }
      to {
        transform: rotate(360deg);
      }
    }

    .au-loading:before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.8);
      width: 100%;
      height: 100%;
      z-index: 100;
    }

    .au-loading:after {
      position: absolute;
      content: '';
      top: 50%;
      left: 50%;
      margin: -1.5em 0 0 -1.5em;
      width: 3em;
      height: 3em;
      animation: form-spin 0.6s linear;
      animation-iteration-count: infinite;
      border-radius: 500rem;
      border-color: #767676 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
      border-style: solid;
      border-width: .2em;
      box-shadow: 0 0 0 1px transparent;
      visibility: visible;
      z-index: 101;
    }

    </style>
    {{content-for 'body'}}
    
    

    <script src="assets/vendor.js"></script>
    <script src="assets/ember-firestarter.js"></script>
    {{content-for 'body-footer'}}
     <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkjyCxpz7Jn5OiTnWrS1cepreUVpHBdvY">
    </script>
   
  </body>
</html>
