{{outlet}}

<div class="ui container">
	<h2 class="ui header">
		<i class="icon building"></i>
		{{if model.name model.name '-SPOLECNOST-'}}
	</h2>
	<form {{action 'save' on="submit"}} class="ui form">
		<div class="fields">
			<div class="field">
				<label>Jmeno spolecnosti</label>
				{{input value=model.name}}
			</div>
			<div class="field">
				<label>ICO spolecnosti</label>
				{{input value=model.ico}}
			</div>
		</div>
		<div class="field">
			<label>Poznamka</label>
			{{input value=model.note}}
		</div>
		<input type="submit" value="Ulozit" class="ui big {{if model.hasDirtyAttributes 'red'}} button">
	</form>
	<div class="ui items">
		{{#each model.repairShops as |shop|}}
			{{list-item model=shop}}
		{{/each}}
	</div>
</div>
