<div class="ui container">
	<h2 class="ui header">
		<i class="building icon"></i>
		Vypis spolecnosti
	</h2> 
	<div {{action "addCompany"}} class="ui big icon right floated button">
		<i class="circle plus icon"></i>
		Pridat spolecnost
	</div>
	<div class="ui form inline-block">{{input value=ico action="filterCompanies" on="key-up" placeholder="ICO spolecnosti"}}</div>
</div>
<div class="ui middle aligned divided list">
	{{#each filteredCompanies as |company|}}
		<div class="item">
			<div class="right floated content">
				{{#link-to 'company.detail' company.id }}
					<div class="ui {{if company.hasDirtyAttributes "red"}}  icon button">
						<i class=" icon edit"></i>
					</div>
				{{/link-to}}
				<div {{action "delete" company}} class="ui icon {{if isDeleting 'loading'}} button"><i class="icon trash"></i></div>
			</div>
			<div class="content">
				<div class="{{if company.hasDirtyAttributes "red"}} header">
				{{if company.name company.name "-Beze jmena-"}}
				</div>
				<div class="description">
					 ICO: {{company.ico}} | {{company.repairShops.length}} servisu
				</div>
			</div>
		</div>
		{{else}}
		<h2>Zadne spolecnosti k vypisu</h2>
	{{/each}}
</div>
